@charset "UTF-8";
/* CSS Document */

body {
    color: black;
    font-family: 'Crimson Text', serif;
    font-size: 1.9em;
    line-height: 1.15;
    width: 100%;
    margin: 0px;
    min-width: 300px;
    background: none;
}
header {
    background: none;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 0%;
    border: 0px;
    width: 31%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 5%;
}
nav {
    margin: 0px;
    background: none;
}
ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: #bad8eb;
}
.currentLink {
    color: #bad8eb;
    padding: 0px;
    margin: 0px;
}
.currentLink a {
    color: #bad8eb;
}
.currentLink a:link {
    color: #bad8eb;
}
.currentLink a:visited {
    color: #bad8eb;
}
.currentLink a:hover {
    color: #bad8eb;
}

main {
    background: none;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 58%;
    margin-top: 5%;
    margin-right: 5%;
    padding: 0px 0px 5% 0px;
    border: 0px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: transparent;
    font-family: 'Crimson Text', serif;
    font-size: 1.9rem;
    line-height: 1.1;
    color: black;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    overflow: hidden;
    white-space: nowrap;
}

/* valgt tekst*/

::selection {
  color: yellow;
  background: none;
}

/* ikke forandre telefonnummer*/

a[href^=tel] {
   text-decoration:inherit;
   color: inherit;
}

/* ikke forandre telefonnummer*/

a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: transparent;
    color: #bad8eb;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    background-color: transparent;
    display: none;
    overflow: hidden;
}
.em-tight {
    letter-spacing: -0.03em;
}
.em-very-tight {
    letter-spacing: -0.05em;
}
/* Swiper custom styling */
.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 0%;
    width: 50%;
    height: 100%;
 margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 10;
    opacity: 0;
}
.swiper-button-next {
    cursor: url("../cursors/cursor-right.png"), auto;
}
.swiper-button-prev {
    cursor: url("../cursors/cursor-left.png"), auto;
}
/* Animations */

.dot-one {
    opacity: 1;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}
.dot-two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}
.dot-three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.5s;
}
 @-webkit-keyframes dot {
 0% {
opacity: 0;
}
 50% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @keyframes dot {
 0% {
opacity: 0;
}
 50% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
.vibrate-2 {
    -webkit-animation: vibrate-2 0.9s linear infinite both;
    animation: vibrate-2 0.9s linear infinite both;
}
@-webkit-keyframes vibrate-2 {
 0% {
 -webkit-transform: translate(0);
 transform: translate(0);
}
 20% {
 -webkit-transform: translate(2px, -2px);
 transform: translate(2px, -2px);
}
 40% {
 -webkit-transform: translate(2px, 2px);
 transform: translate(2px, 2px);
}
 60% {
 -webkit-transform: translate(-2px, 2px);
 transform: translate(-2px, 2px);
}
 80% {
 -webkit-transform: translate(-2px, -2px);
 transform: translate(-2px, -2px);
}
 100% {
 -webkit-transform: translate(0);
 transform: translate(0);
}
}
@keyframes vibrate-2 {
 0% {
 -webkit-transform: translate(0);
 transform: translate(0);
}
 20% {
 -webkit-transform: translate(2px, -2px);
 transform: translate(2px, -2px);
}
 40% {
 -webkit-transform: translate(2px, 2px);
 transform: translate(2px, 2px);
}
 60% {
 -webkit-transform: translate(-2px, 2px);
 transform: translate(-2px, 2px);
}
 80% {
 -webkit-transform: translate(-2px, -2px);
 transform: translate(-2px, -2px);
}
 100% {
 -webkit-transform: translate(0);
 transform: translate(0);
}
}
.vibrate-2-slow {
    -webkit-animation: vibrate-2 1.8s linear infinite both;
    animation: vibrate-2 1.8s linear infinite both;
}
@-webkit-keyframes vibrate-2-slow {
 0% {
 -webkit-transform: translate(0);
 transform: translate(0);
}
 20% {
 -webkit-transform: translate(2px, -2px);
 transform: translate(2px, -2px);
}
 40% {
 -webkit-transform: translate(2px, 2px);
 transform: translate(2px, 2px);
}
 60% {
 -webkit-transform: translate(-2px, 2px);
 transform: translate(-2px, 2px);
}
 80% {
 -webkit-transform: translate(-2px, -2px);
 transform: translate(-2px, -2px);
}
 100% {
 -webkit-transform: translate(0);
 transform: translate(0);
}
}
@keyframes vibrate-2-slow {
 0% {
 -webkit-transform: translate(0);
 transform: translate(0);
}
 20% {
 -webkit-transform: translate(2px, -2px);
 transform: translate(2px, -2px);
}
 40% {
 -webkit-transform: translate(2px, 2px);
 transform: translate(2px, 2px);
}
 60% {
 -webkit-transform: translate(-2px, 2px);
 transform: translate(-2px, 2px);
}
 80% {
 -webkit-transform: translate(-2px, -2px);
 transform: translate(-2px, -2px);
}
 100% {
 -webkit-transform: translate(0);
 transform: translate(0);
}
}
.swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
 @-webkit-keyframes swing-in-top-fwd {
 0% {
 -webkit-transform: rotateX(-100deg);
 transform: rotateX(-100deg);
 -webkit-transform-origin: top;
 transform-origin: top;
 opacity: 0;
}
 100% {
 -webkit-transform: rotateX(0deg);
 transform: rotateX(0deg);
 -webkit-transform-origin: top;
 transform-origin: top;
 opacity: 1;
}
}
@keyframes swing-in-top-fwd {
 0% {
 -webkit-transform: rotateX(-100deg);
 transform: rotateX(-100deg);
 -webkit-transform-origin: top;
 transform-origin: top;
 opacity: 0;
}
 100% {
 -webkit-transform: rotateX(0deg);
 transform: rotateX(0deg);
 -webkit-transform-origin: top;
 transform-origin: top;
 opacity: 1;
}
}



.flier {
	pointer-events: none;
}

.flier > * {
/* Adjust animation duration to change the element’s speed */
        animation: fly 50s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 5s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}



/* Media queries */


/* 1: Smaller text*/
@media only screen and (max-width: 1400px) {
body {
    font-size: 1.75em;
}
.accordion {
    font-size: 1.75rem;
}
}

/* 2: Smaller text*/
@media only screen and (max-width: 1300px) {
body {
    font-size: 1.6em;
}
.accordion {
    font-size: 1.6rem;
}
}

/* 3: Smaller text*/
@media only screen and (max-width: 1100px) {
body {
    font-size: 1.6em;
}
.accordion {
    font-size: 1.6rem;
}
}

/* 4: Break point */
@media only screen and (max-width: 1000px) {
body {
    font-size: 1.9em;
    width: 100%;
    overflow-x: hidden;
}
header {
    width: 100%;
    display: block;
    position: static;
}
main {
    width: 100%;
    margin-left: 5%;
    padding-right: 10%;
    display: block;
}
main figure {
    width: 100%;
}
.accordion {
    font-size: 1.9rem;
}
.active {
    white-space: normal;
	/* Active accordion button/display full title */
}
}

/* 5: Smaller text*/
@media only screen and (max-width: 700px) {
body {
    font-size: 1.75em;
}
.accordion {
    font-size: 1.75rem;
}
}

/* 6: Smaller text*/
@media only screen and (max-width: 600px) {
body {
    font-size: 1.7em;
}
.accordion {
    font-size: 1.7rem;
}
}

/* 7: Smaller text*/
@media only screen and (max-width: 550px) {
body {
    font-size: 1.6em;
}
.accordion {
    font-size: 1.6rem;
}
}

/* 8: Smaller text*/
@media only screen and (max-width: 500px) {
body {
    font-size: 1.5em;
}
.accordion {
    font-size: 1.5rem;
}
}

/* 9: Smaller text*/
@media only screen and (max-width: 450px) {
body {
    font-size: 1.4em;
}
.accordion {
    font-size: 1.4rem;
}
}

/* 10: Smaller text*/
@media only screen and (max-width: 400px) {
body {
    font-size: 1.3em;
}
.accordion {
    font-size: 1.3rem;
}
}

/* 11: Smaller text*/
@media only screen and (max-width: 350px) {
body {
    font-size: 1.2em;
}
.accordion {
    font-size: 1.2rem;
}
}
